<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="icon.png">

    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
          integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
            integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"
            integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
            crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js"></script>

    <title>MTS &mdash; {{ name }}</title>
</head>

<body>

    <div id="title" class="title">
        <h1><a href="/">Mathematics Tactic Search</a> / <a href="{{path}}">{{ name }}</a></h1>
        {{!-- <small>(Undergraduate)</small> --}}
    </div>

    <main>

        <div class="search-field">
            <input id="s" type="text" autocomplete="off"
                   placeholder="Cerca una proposizione, una definizione, un teorema...">
        </div>

        <div class="list" id="list">
            {{#each items}}
            <div class="item">
                <div class="name">
                    <p>
                        <a href="#" class="permalink">§</a>
                        <b>{{ label }}.</b> 
                        {{{markdown_inline name}}}
                    </p>
                </div>
                {{#if ipotesi}}
                <div class="ipotesi">
                    <ul>
                        {{#each ipotesi as |ip|}}
                        <li>{{{markdown_inline ip}}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                <div class="content">
                    {{{markdown content}}}
                </div>
                {{#if bibliografia}}
                <div class="bibliografia">
                    <b>Bibliografia</b>
                    {{#each bibliografia as |riferimento|}}
                    <i class="riferimento">{{riferimento}}</i>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>

    </main>

    <footer>
        &copy; Antonio De Lucreziis &mdash;&nbsp; <a href="https://aziis98.com">aziis98.com</a>
    </footer>

    <script src="index.js"></script>

</body>

</html>