
/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700|IBM+Plex+Sans:400,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500|Merriweather:700&display=swap');

:root {
    --font-heading: 'Merriweather';
    --font-paragraph: 'IBM Plex Sans';
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    font-family: var(--font-paragraph), sans-serif;
    font-weight: 400;
    font-size: 17.5px;
    /* line-height: 0.9; */
    color: #2d2d2d;

    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 0 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 45rem;
    max-width: 100%;
    align-items: center;
    margin-bottom: 40vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 3rem 0 1rem 0;
}

.title h1 {
    margin-bottom: 0;
    font-size: 215%;
    text-align: right;
    line-height: 53px;
}

.title small {
    font-size: 0.9rem;
}

.search-field {
    max-width: 100%;
    margin: 4rem 0;
    display: flex;
}

.search-field input {
    width: 30rem;
    max-width: 100%;
    height: 2rem;
    font-family: var(--font-paragraph), sans-serif;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 0.5rem;
    outline: none;

    transition: all 150ms;
}

.search-field input:focus {
    border-color: #aaa;
}

.list {
    max-width: 100%;
}

.item.hide {
    display: none;
}

.item {
    width: 45rem;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.item section {
    margin: 1rem 0;
}

.item .permalink {
    /* text-decoration: none; */
    font-size: 105%;
}

.item .bibliografia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 85%;
}

.item .bibliografia i.riferimento {
    text-align: right;
    margin: 0.5rem 0;
}

p {
    margin: 0.75rem 0;
}

ul, ol {
    padding-left: 1.5rem;
}

ul {
    margin: 0.75rem 0;
}

ol {
    list-style-type: lower-roman;
}

li {
    margin: 0.5rem 0;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading), serif;
    font-weight: 700;
    color: black;
}

b {
    /* padding: 0; */
    text-decoration: none;
    font-family: var(--font-heading), serif;
    font-weight: 700;
    /* font-size: 100%; */
    font-size: 17px;
    color: black;
}

strong {
    font-weight: 500;
}

a {
    color: royalblue;
    text-decoration: none;
    border-radius: 2px;
    padding: 2px 3px;
    /* margin: 0 -3px; */
    transition: all 100ms;
}

a:hover {
    color: white;
    background: royalblue;
}

table {
    margin: 1.25rem auto;
    border-collapse: collapse;
    font-family: var(--font-paragraph);
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    font-weight: 500;
}

td, th {
    padding: 6px 13px;
}

/* 
a:visited {
    color: slateblue;
}

a:hover:visited {
    color: white;
    background-color: slateblue;
} 
*/

/* Heading links */

h1 > a, h2 > a {
    padding: 5px;
    color: black;
}

h1 > a:hover, h2 > a:hover {
    background: #ddd;
    color: black;
}

/* Math */

/* 
.item .katex-html {
    text-align: left;
}
*/

main .katex-display {
	overflow-y: hidden;
	overflow-x: auto;
	margin: 0.75rem auto;
    padding: 0.15rem;
}

footer {
    position: absolute;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 420px) {

    body {
        font-size: 15.5px;
    }

    b {
        font-size: 14.75px;
    }

    main .katex-display .katex-html > *:first-child {
        margin-left: 0.5rem;
    }
    
    main .katex-display .katex-html > *:last-child {
        margin-right: 1.5rem;
    }
    
    main section > eqn > span {
        display: block;
        position: relative;
        width: calc(100% + 1rem);
        transform: translateX(-0.5rem);
    } 
    
    main section > eqn > span.overflowing::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to left, #c0c0c0, transparent 0.75rem);
    }
    
}

@media only screen and (min-width: 420px) {

    .list {
        display: flex;
        flex-direction: column;
    }

    .item {
        padding: 0 1rem;
        width: 45rem;
        max-width: 100%;
        
        border-radius: 2px;
        border: 1px solid #ddd;

        transition: 75ms background;
    }

    .item:not(.hide) ~ .item:not(.hide) {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .list .item.show:hover {
        cursor: pointer;
        background: #f8f8f8;
        z-index: 10;
        position: relative;
    }

    .list .item.show:hover::after {
        position: absolute;
        content: '';

        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px solid #aaa;
        border-radius: 2px;
    }

}